PORT=3000
SALT=secret
ME_USER=test
ME_PASSWORD=test
MONGO_EXPRESS_PORT=8081
DB_USER=test
DB_PASSWORD=test
DB_HOST=127.0.0.2
DB_PORT=27017
DB_NAME=db
JWT_SECRET='secret key'
UPLOAD_FILE_DIRECTORY='\src\uploads'
HOST='localhost'
STATIC_DIRECTORY_PATH = '\src\static'